.trend-slider-temp {
    width: 90%;
    height: 350px;
    background-color: #941B80;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    direction: rtl;
    margin: 0 auto;
    border-radius: 40px;
    animation: appearance 1s linear;

    @keyframes appearance {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    a {
        text-decoration: none;
    }
    .swiper-scrollbar {
        display: none;
    }
    .swiper-button-next, .swiper-button-prev {
        background-color: rgb(255, 230, 0);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #000000;
        transform: scale(.7);
    }
    .slider-card {
        padding: 5px 5px;
        height: 300px;
        width: 240px;
        border-radius: 10px;
        margin: 0 auto;
        img {
            width: 70%;
            height: auto;
            object-fit: cover;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: koodak;
        background-color: #fff;

        .row1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;
            width: 100%;
            font-family: koodak;
            direction: ltr;
            padding: 0 20px;
            color: lighten($color: #000000, $amount: 20%);
            margin-top: 10px;

            .off-num {
                background-color: rgb(255, 54, 54);
                color: #fff;
                border-radius: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                font-size: 16px;
            }
            .current-price {
                direction: rtl;
                font-size: 20px;
            }
        }
        .row2 {
            @extend .row1;
            justify-content: center;
            font-size: 18px;
            color: rgb(166, 166, 166);
        }
    }
    .first-card {
        @extend .slider-card;
        img {
            width: 150px;
            height: auto;
        }
        color: #fff;
        background-color: inherit;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 22px;

            &:hover {
                .arrow {
                    transform: translateX(-15px);
                    font-size: 30px;
                }
            }
            .arrow {
                font-size: 20px;
                transition: .5s;
            }
        }
    }
    .last-card {
        @extend .slider-card;
        transition: .5s;

        &:hover {
            gap: 25px;
            .icon {
                background-color: #8200b1;
                color: #fff;
            }
        }
        .icon {
            width: 95px;
            height: 95px;
            border-radius: 50%;
            border: #8200b1 4px solid;
            color: #8200b1;
            transform: scale(.6);
            transition: .5s;
        }
    }
}

@media screen and (max-width: 1200px) {
    .trend-slider-temp {
        width: 95%;
        height: 300px;
        padding: 0 15px;

        .slider-card {
            padding: 5px 5px;
            height: 240px;
            width: 210px;
            border-radius: 10px;
    
            img {
                width: 60%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .trend-slider-temp {
        height: 270px;
        padding: 0 15px;
        border-radius: 10px;

        .slider-card {
            padding: 5px 5px;
            height: 240px;
            width: 210px;
            border-radius: 10px;
    
            img {
                width: 60%;
                height: auto;
                object-fit: cover;
            }
            gap: 8px;
            font-family: koodak;
            background-color: #fff;
        }
        .first-card {
            img {
                width: 150px;
                height: auto;
            }
            color: #fff;
            background-color: inherit;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 22px;
    
                &:hover {
                    .arrow {
                        transform: translateX(-15px);
                        font-size: 30px;
                    }
                }
                .arrow {
                    font-size: 20px;
                    transition: .5s;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .trend-slider-temp {
        margin: 0;
        border-radius: 0;
        width: 100%;
        height: 280px;

        .slider-card {
            height: 240px;
        }
        .first-card {
            img {
                width: 120px;
            }
        }
    }
}