@font-face {
    font-family: 'koodak';
    src: url('../public/fonts/B_Koodak/Koodak.ttf') format('truetype');
}
@font-face {
    font-family: 'farnaz';
    src: url('../public/fonts/B_Farnaz/Far_Farnaz.ttf') format('truetype');
}
@font-face {
    font-family: 'vazir';
    src: url('../public/fonts/Vazir/Vazir.ttf') format('truetype');
}
@font-face {
    font-family: 'yekan';
    src: url('../public/fonts/B_Yekan/BYekan-Bold.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FF1E1E, #D2001A, #C21010);
    width: 12px;
    border-radius: 20px;
    border: 2px solid #fff;
}
body {
    background-color: rgb(253, 255, 244);
    min-height: 100vh;
}